{% load static %}

{% load static %}

<div class="navbar">

    <a href="{% url 'inventario:index' %}">
        <img class="nav-logo" src="{% static 'global/images/logo_flow.png' %}" alt="Logo">
    </a>

    <div class="nav-links">
        <a href="{% url 'inventario:index' %}">Home</a>

        {% if is_visualizador_master or is_gerente_total %}
        <div class="dropdown">
            <a class="dropbtn" href="{% url 'inventario:acompanhamento' %}">Dashboard</a>
        </div>
        <div class="dropdown">
            <a class="dropbtn" href="{% url 'inventario:relatorios' %}">Relatórios</a>
        </div>
        {% endif %}

        <div class="usuario-dropdown">
            <button class="usuario-logado" onclick="toggleUsuarioMenu()">
                Olá, {{ request.user.first_name|default:request.user.username }} ▾
            </button>
            <div id="usuario-menu" class="usuario-dropdown-menu">
                <a href="{% url 'inventario:logout_confirm' %}">Sair</a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'global/javascript/script.js' %}"></script>
