{% extends 'global/base.html' %}

{% block content %}
<div class="wrapper-central">
    <div class="container-index-lotes">
        <div class="titulo-com-botao">
            <div class="titulo-e-pesquisa">
                <h2>Lotes de Bipagem</h2>

                <form method="get" action="" class="form-pesquisa-lote">
                    <input type="text" name="q" id="q" placeholder="Pesquisar lote..." value="{{ request.GET.q }}">
                    <button type="submit">Buscar</button>
                </form>
            </div>

            <div class="botoes-lote">
                {% if not is_visualizador_master and not is_gerente_total %}
                <form method="post" action="{% url 'inventario:criar_lote' %}" style="margin-bottom: 10px;">
                    {% csrf_token %}
                    <button type="submit" class="btn-novo-lote">Criar novo lote</button>
                </form>
                {% endif %}
            </div>
        </div>

        {% if messages %}
        <div class="alert-success-custom">
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if lotes %}
        <div class="scroll-tabela-lotes">
            <table class="tabela-lotes">
                <thead>
                    <tr>
                        <th>ID do Lote</th>
                        <th>Criado em</th>
                        <th>Status</th>
                        <th>PA</th>
                        <th>Torre</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lote in lotes %}
                    <tr>
                        <td>#{{ lote.numero_lote }}</td>
                        <td>{{ lote.criado_em|date:"d/m/Y H:i" }}</td>
                        <td>{{ lote.get_status_display }}</td>
                        <td>{{ lote.group_user.name }}</td>
                        <td>{{ lote.user_created }}</td>
                        <td>
                            {% if lote.get_status_display == "Aberto" %}

                            <a href="{% url 'inventario:lote' lote.id %}" class="edit-icon" title="Editar caixa">
                                <i class="fa-solid fa-pen"></i>
                            </a>

                            {% elif lote.get_status_display == "Fechado" %}

                            <a href="{% url 'inventario:lote' lote.id %}" class="edit-icon" title="Editar caixa">
                                <i class="fa-solid fa-pen"></i>
                            </a>

                            {% elif lote.get_status_display == "Aguardando Validação" %}

                            <a href="{% url 'inventario:validar_lote' lote.id %}" class="edit-icon"
                                title="Validar lote">
                                <i class="fa-solid fa-pen text-warning"></i>
                            </a>

                            {% else %}

                            <a class="edit-icon text-muted" title="Caixa fechada - não editável"
                                style="pointer-events: none; cursor: not-allowed;">
                                <i class="fa-solid fa-pen"></i>
                            </a>

                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="texto-vazio">Nenhum lote criado ainda.</p>
        {% endif %}

        <div class="paginacao-lotes">
            {% if page_obj.has_other_pages %}
            <div class="pagination-wrapper">
                {% if page_obj.has_previous %}
                <a href="?q={{ request.GET.q }}&page=1" class="pagination-link">« Primeira</a>
                <a href="?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}" class="pagination-link">‹</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                <span class="pagination-link active">{{ num }}</span>
                {% elif num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %} <a
                    href="?q={{ request.GET.q }}&page={{ num }}" class="pagination-link">{{ num }}</a>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <a href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}" class="pagination-link">›</a>
                    <a href="?q={{ request.GET.q }}&page={{ page_obj.paginator.num_pages }}"
                        class="pagination-link">Última »</a>
                    {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', function () {
        const input = document.querySelector('input[name="q"]');
        if (input) {
            input.value = '';
        }
    });
</script>
{% endblock %}