<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'global/partials/_head.html' %}
</head>

<body>
    <div class="abstract-left">
        <div class="info-content">
            <h2>C-Trends BPO!</h2>
            <p>Soluções. Este é o nosso negocio!</p>
            <ul>
                <li>Call Center</li>
                <li>Central Retenção</li>
                <li>Cobrança</li>
                <li>Operador Logístico</li>
                <li>Caça Pos</li>
                <li>SAC</li>
            </ul>
        </div>
    </div>

    <div class="container-login">
        <form class="form-login" method="post">
            {% if request.COOKIES.mensagem_bloqueio %}
            <div class="alert alert-danger">
                {{ request.COOKIES.mensagem_bloqueio }}
            </div>
            {% endif %}

            {% csrf_token %}
            <h2 class="form-title-login">Login</h2>

            {% if form.non_field_errors %}
            <div class="error">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            {% for campo in form %}
            <div class="form-group">
                {{ campo.label_tag }}
                {{ campo }}
                {% if campo.errors %}
                <div class="error">{{ campo.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <button class="login-button" type="submit">Entrar</button>
        </form>
    </div>
</body>

</html>